<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="PHPAP21 Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">lib/</directory>
        </include>
    </source>

    <php>
        <ini name="date.timezone" value="UTC"/>
    </php>
</phpunit>
